html {
  font-size:16px;
  font-family:Helvetica;
  color:#4a4a4a;
}

header {
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  height:4rem;
  width:100%;
}

.headerdiv {
display:flex;
flex-flow:row nowrap;
align-items: center;
padding:0 1.5rem;
}

.headerdiv li {
  padding-left:1.5rem;
}

.headerdiv img {
  height:2rem;
}

.notvisible {
  display:none;
}

/*First big div*/

.firstdiv {
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  background-color: #d8d8d8;
  justify-content:flex-start;
}

.firstleft {
  width:60%;
  height:auto;
  padding:2rem 1.5rem;
}

.firstright {
  padding: 2rem 1.5rem;
  max-width:450px;
}

.firstleft img {
  width:100%;
}

.firstright h2 {
  font-size:3.5rem;
  font-weight:900;
}

.latin1 {
  padding:20px 0px;
  font-size:1.5rem;
  font-weight:350;
}

.start {
  text-align: center;
  background-color: #4a4a4a;
  padding:15px 30px;
  color:white;
}

/*Second big div*/

.seconddiv {
  display:flex;
  flex-flow:row nowrap;
  background-color: #f3f5f5;
  padding-top:2rem;
}

.secondleft {
  padding:0 1.5rem;
  width:60%;
  height:auto;
}

.secondleft img {
  width:100%;
}

.secondleft h2 {
  font-size:2rem;
  font-weight:850;
  padding:2rem 0 1.5rem 0;
}

.secondleft blockquote {
  font-size: 1.25rem;
  padding-bottom: 2rem;
  opacity: 0.7;
  line-height: 1.5rem;
}

.secondleft p {
  padding-bottom: 2rem;
}

.secondright {
  display: flex;
  flex-flow:column nowrap;
  max-width: 35%;
}

.small {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
}

.small img {
  max-width:35%;
}

.rightinfo {
  display:flex;
  flex-direction: column;
}

.rightinfo h3 {
  font-size:1.5rem;
  padding-bottom: 0.5rem;
}
.rightinfo p {
  font-size: 1rem;
  opacity: 0.7;
  padding-bottom: 0.5rem;
}

.rightinfo a {
  font-size: 1rem;
  opacity:0.7;
  text-decoration: none;
}

.styling {
  padding:0 1rem 1rem 1rem;
}

.styling1 {
  padding:1rem;
}

/*Third big div*/

.thirddiv {
  background-color: #d8d8d8;
}

.sixpictures {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  width:1050px;
  margin:auto;
}

.thirdsmall {
  max-width:280px;
  background-color: white;

}

.thirdsmall img {
  max-width: 100%;
  height: auto;
 }

.thirddiv h2 {
  font-size:2rem;
  font-weight:850;
  text-align: center;
  padding:2rem 0;
}

.underpad {
  margin-bottom: 1.5rem;
}

.rightmar {
  margin-right: 1.5rem;
}

.textone {
  padding:1rem 0 1rem 1rem;
  font-size:1.5rem;
}

.texttwo {
  padding:0.5rem 1rem;
  opacity:0.7;
}

.textthree {
  padding:0 1rem 1.5rem 1rem;
  opacity: 0.7;
}

.hidden2 {
  display:none;
}

/*Fourth big div*/

.fourthdiv {
  background-color: #f3f5f5;
  padding-bottom: 2rem;

}

.fourthdivsmall {
  display: flex;
  flex-direction: row;
}

.fourthdiv h2 {
  font-size:2rem;
  font-weight:850;
  text-align: center;
  padding:2rem 0;
}

.fourthleft {
  max-width:55%;
}

.fourthleft h4 {
  font-size:1.5rem;
  padding:1.5rem 0 0.5rem 1.5rem;
}

.fourthleft blockquote {
  opacity: 0.7;
  font-size: 1rem;
  padding:0 0 2rem 1.5rem;
  line-height: 1.5rem;
}

video {
  max-width:92%;
  height: auto;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.fourthright {
  max-width:45%;
}

.twosmalldivs {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
}

.twosmalldivs img {
  max-width:35%;
  height:auto;
  padding:1rem;
}

.nowandthen {
  background-color: #d8d8d8;
}

/*Footer*/

footer {
  display:flex;
  justify-content: space-between;
}

.leftfooter {
  padding:1rem 0 3rem 1.5rem;
  opacity: 0.7;
  font-size: 1rem;
}

.rightfooter {
  display: flex;
  flex-direction: row;
  padding:1rem 1.5rem 3rem 0;
  opacity: 0.7;
  font-size: 1rem;
}

.rightfooter p {
padding-left: 1rem;
}

/* Media queries */

@media only screen and (max-width:570px) {
  body {
    min-width:400px;
    max-width:570px;
  }

  /* Header*/

  header {
    width:100%;
    height:4rem;
  }
  .headerdiv2 {
    display:none;
}

  .headerdiv h1 {
    display:none;
  }
  .notvisible {
    display: inline-block;
  }
  .headerdiv  {
    width: 100%;
    justify-content: space-between;
  }

  /* First div */

  .firstdiv {
    flex-direction: column;
  }

  .firstleft {
    width:100%;
    height:auto;
    padding:0;
  }
  .firstright h2 {
    font-size:2.5rem;
    font-weight:bold;
    padding:1.25rem auto;
  }

  .latin1 {
    padding-left:0.75rem;
    padding-bottom:1.5rem;
    font-size:1.25rem;
    line-height: 1.75rem;
  }

  .start {
    text-align: center;
    background-color: #9B9B9B;
    padding:15px 30px;
    color:white;
  }

  /* Second div */

  .secondleft {
    display:none;
  }
  .secondright {
    display: flex;
    flex-flow:column nowrap;
    max-width: 100%;
  }

  .small {
    display:flex;
    flex-direction: column;
    background-color:#f3f5f5;
    align-items: stretch;
  }
  .small img {
    max-width:100%;
  }

  .styling, .styling1 {
    padding:1.5rem;
  }

  .rightinfo {
    padding: 1.5rem;
  }

  /* Third div */

  .sixpictures {
    display: none;
  }

  .thirddiv {
    background-color:#f3f5f5;
    display:flex;
    flex-flow: column nowrap;
  }
  .thirddiv h2 {
    font-size:2.5rem;
    font-weight:700;
    text-align: center;
  }
  .hidden2 {
    display: block;
    font-size: 2rem;
    font-weight:700;
    text-align: center;
    background-color: #d8d8d8;
    margin:0.5rem 0;
    padding:2rem 0;
  }

  /* Fourth div */

  .fourthdiv h2 {
    font-size:2.5rem;
    padding-top:4rem;
  }
  .fourthright, .fourthleft h4, .fourthleft blockquote {
    display:none;
  }
  .fourthleft {
    max-width:100%;
  }
  video {
    max-width:100%;
    height: auto;
    padding:0 0 1.5rem 0;
  }

/* Footer*/

  .rightfooter {
    display:none;
  }
  .leftfooter {
    padding:1rem 0 1rem 1.5rem;
    opacity: 0.7;
    font-size: 1rem;
  }

}
